<%- include('./partials/head') %>

<body>
    <main>
        <section id="artistList">
          <a href="/profile">Cancel</a>
  
          <h1>Edit profile</h1>
  
          <form action="/profile/add-artists" method="post">
              <fieldset>
                  <legend>Add your favorite artists</legend>
              
                  <% items.forEach(item => { %>
                  <div>
                    <input type="checkbox" id="<%= item.name %>" name="samplename" value="samplevalue">
                    <label for="<%= item.name %>">
                      <img src="<%=item.image %>" alt="<%= item.name %>">
                      <%= item.name %>
                    </label>
                  </div>
                  <% }); %>
              
              </fieldset>
  
              <p>Select all your fav's!   <span></span></p>
              <button type="submit">Save my favorites</button>
          </form>
        </section>
      </main>

      <%- include('./partials/footer') %>

      <script src="../js/addartists.js"></script>
</body>
</html>
  