<%- include('./partials/head') %>

<body>
  <main>
    <!-- Genres -->
    <section id="selectGenres">
      <span>4/4</span>
      <h1>Add your favorite genres</h1>
    
      <form >
        <fieldset>
          <legend>Fill in the about me below</legend>
            <ul>
              <% genres.forEach(genres => { %>
              <li>
                <img src="../static/img/genres/<%= genres.img %>" alt="<%= genres.name %>">
                <input type="checkbox" id="<%= genres.name %>" name="<%= genres.name %>" >
                <label for="<%= genres.name %>"> <%= genres.name %> </label>
              </li>
              <% }); %>
            </ul>

            <a href="/profile">Next</a>
          </fieldset>
        </form>
    
    </section>
  </main>
  <script src="js/genres.js"></script>
</body>
</html>
