<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <%- include('./partials/header') %>
    <main>
    
        <noscript>   
            <p>Your javascript is disabled, you can not react to invites</p>
        </noscript>
            
    
        <noscript>   
            <p>Your javascript is disabled, you can not react to invites</p>
        </noscript>
            
        <section>
            <section>
                <h2>New</h2>
                <% if(newInvites.length ==0) { %>
                    <p>No new invites yet</p>
                <% } else { %>
                    <ul>
                        <% newInvites.forEach(invite => { %>
                            <li>Hi! I am <%= invite.from %> </li>
                            <li>Do you want to go to <%= invite.event %> with me?</li>
                            <li><img src="../static/img/profilepic/serenoiia.jpg" alt="profielfoto"></li>
                            <li>
                                <ul>
                                    <li><a href="">Event info</a></li>
                                    <li><a href="">Ignore</a></li>
                                    <li ><a href="" class="acceptationbutton">Accept</a></li>
                                </ul>
                            </li>
                        <% }) %>
                    </ul>
                <% } %>
            </section>

            <section>
                <h2>Accepted</h2>
                <% if (acceptedInvites.length == 0) { %>
                    <p>Now accepted invites yet</p>
                <% } else { %>
                    <% acceptedInvites.forEach(invite => { %>
                            <li>Hi! I am <%= invite.from %> </li>
                            <li>Do you want to go to <%= invite.event %> with me?</li>
                            <li><img src="../static/img/profilepic/serenoiia.jpg" alt="profielfoto"></li>
                            <li>
                                <ul>
                                    <li><a href="">Event info</a></li>
                                    <li><a href="">Ignore</a></li>
                                    <li ><a href="" class="acceptationbutton">Accept</a></li>
                                </ul>
                            </li>
                        <% }) %>
                    </ul>
                <% } %>
            </section>

            <section>
                <h2>Accepted</h2>
                <% if (acceptedInvites.length == 0) { %>
                    <p>Now accepted invites yet</p>
                <% } else { %>
                    <% acceptedInvites.forEach(invite => { %>
                        <ul>
                            <li>Yeah! You are going to <%= invite.event %> with <%= invite.from %> </li>
                            <li><img src="../static/img/profilepic/serenoiia.jpg" alt="profilepic"></li>
                        </ul>
                   <% }) %>
                   <a href="/my-events">See all my events</a>
                <% } %>
            </section>

            <section>
                <h2>Waiting for acceptation</h2>
                <% if (waitingForAcceptationInvite.length == 0) { %>
                    <p>Invites that you send to others will appear here</p>
                    <a href="/upcoming-events">Find events</a>
                <% }  else { %>
                    <% waitingForAcceptationInvite.forEach(invite => { %>
                        <ul>
                            <li>You send an invite to <%= invite.to %> for <%= invite.event %> </li>
                            <li>Not yet accepted</li>
                            <li><img src="../static/img/profilepic/serenoiia.jpg" alt="profielfoto"></li>
                        </ul>
                        <% }) %>
                <% } %>
            </section>

            <section>
                <h2>Pending</h2>

                <% if (pendingInvite.length == 0) { %>
                    <p>Invites that you have not yet accepted, will appear here</p>
                <% }  else { %>
                    <% pendingInvite.forEach(invite => { %>
                        <ul>
                            <li>Hi! I am <%= invite.from %> </li>
                            <li>Do you want to go to <%= invite.event %> with me?</li>
                            <li><img src="../static/img/profiel-aanmaken.jpg" alt="profielfoto"></li>
                            <li>
                                <ul>
                                    <li><a href="">Event info</a></li>
                                    <li><a href="" class="ignoreButton">Ignore</a></li>
                                    <li><a href="" class="acceptionbuttonpending">Accept</a></li>
                                </ul>
                            </li>
                        </ul>
                        <% }) %>
                <% } %>
            </section>
        </section>
        
    </main>

    <%- include('./partials/footer') %>
    <script src="../js/invites.js"></script>

</body>
</html>