<%- include('./partials/head') %>

<body>
  <main>
    <!-- About me -->
    <section>
      <span>3/4</span>
      <h1>Add a bio</h1>
      <p>Let other people know who you are and what you like</p>

      <form action="/select-artists" method="post">
        <fieldset>
          <legend>Fill in the about me below</legend>
          <label for="about">Something about me</label>
          <textarea
            id="about"
            name="about"
            rows="15"
            cols="33"
            placeholder="Something about me"
          ></textarea>

          <input type="hidden" name="username" value="<%= username %>" />
          <input type="hidden" name="age" value="<%= age %>" />
          <input type="hidden" name="tel" value="<%= tel %>" />
          <input type="hidden" name="file" value="<%= file %>" />

          <input type="submit" value="Next" />
        </fieldset>
      </form>
    </section>
  </main>

  <%- include('./partials/footer') %>
</body>
</html>
  

  
 
