<%- include('./partials/header') %>

<style>
  #yourProfile h1 {
    font-size: 1.8em;
}

#yourProfile p {
    font-size: 0.9em;
}

#yourProfile p:nth-last-of-type(2) {
    font-weight: 600;
    padding-bottom: 0.6em;
}

#yourProfile img {
    width: 8em;
    height: 8em;
    margin: auto;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 1em;
    border-radius: 100%;
}
  #yourProfile li {
    background-color: var(--light);
    padding: 0.8em;
    font-size: 0.9em;
    border-radius: 5em;
}

/* Code for profile page */
#yourProfile section:first-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2em;
}

</style>


<body>
  <main id="yourProfile">
    <section>
      <div>
        <p> Welcome </p>
        <h1> <%= profileData.username %> </h1>
        <P> <%= profileData.age %> years </P>
        <P> <%= profileData.about %></P>
      </div>

      <img width="100px" src="/static/<%= profileData.file %>"  alt="Profile Picture"/>


    <section>
      <img width="100px" src="/static/img/profilepic/<%= profileData.file %>"  alt="Profile Picture"/>
      <p> <%= profileData.age %> years </p>
      <p> <%= profileData.about %></p>


    </section>

    <section>
      <ul>
          <li> Genre 1</li>
          <li> Genre 1</li>
          <li> Genre 1</li>
      </ul>
    </section>
    

  </main>
</body>
</html>