<%- include('./partials/header') %>

<body>
  <main id="yourProfile">
    <section>
      <div>
        <p> Welcome </p>
        <h1> <%= profileData.username %> </h1>
        <P> <%= profileData.age %> years </P>
        <P> <%= profileData.about %></P>
      </div>

      <img width="100px" src="/static/img/profilepic/<%= profileData.file %>"  alt="Profile Picture"/>
    </section>
    
    <section>
      <ul>
          <li> Genre 1</li>
          <li> Genre 2</li>
          <li> Genre 3</li>
      </ul>
    </section>
    
  </main>
</body>
</html>