<%- include('./partials/head') %>

<body id="yourProfile">

  <%- include('./partials/header') %>

  <main>
    <section id="profileData">
      <section>
        <p> Welcome </p>
        <h2> <%= profileData.username %> </h2>
        <P> <%= profileData.age %> </P>
        <P> <%= profileData.about %></P>
      </section>

      <img width="100px" src="/static/img/profilepic/<%= profileData.file %>"  alt="Profile Picture"/>
    </section>
    
    <section>
      <ul>
        <% selectedGenre.forEach(selectedGenre => { %>
          <li>
            <img src="../static/img/genres/<%= selectedGenre.img %>" alt="<%= selectedGenre.name %>">
            <p><%= selectedGenre.name %></p>
          </li>
          <% }); %>
      </ul>
    </section>

    <section>
      <p> My artists</p>
      <% if(favoriteArtists == null) { %>
        <section id="emptyState">
          <p>Complete your profile</p>
          <a href="/profile/add-artists">Add artists</a>
        </section>

      <% } else { %>
        <section id="favArtists">
          <ul>
            <% additionFavoriteArtistsData.forEach(artist => { %>
              <li>
                <img src="<%= artist.path %>" alt="<%= artist.name %>">
                <%= artist.name %>
              </li>
            <% }) %>
          </ul>

          <a href="/profile/add-artists">Edit artists</a>
        </section>
      <% } %>

    </section>
  </main>
  <%- include('./partials/footer') %>
</body>
</html>