<!DOCTYPE html>
<html>
<head>
  <title>Upcoming Events</title>
  <link rel="stylesheet" href="/css/upcoming-events.css">
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <main>
    <div id="slider-container" class="scroll-container">
      <div class="step-indicator">
        <% events.forEach(event => { %>
          <section class="hero scroll-item">
            <section>
              <h1> Populair in </h1>
              <h1>Juni</h1>
            </section>
            <section>
              <h2> <%= event.title %></h2>
              <h3><%= event.city %></h3>
              <h3><%= event.formattedDate %></h3>
              <h3><%= event.location %></h3>
            </section>
            <section>
              <h3><%= event.attendees %></h3>
              <h3>Deelnemers</h3>
              <button><a class="hero-cta" href="<%= event.link %>"> Meer informatie > </a></button>
            </section>
          </section>
        <% }) %>
      </div>
    </div>
  </main>

  <style>
    .scroll-item {
      scroll-snap-align: start;
      width: 100%;
      display: inline-block;
      vertical-align: top;
      white-space: normal;
      background-size: cover;
      position: relative;
    }


    <% events.forEach((event, index) => { %>
.scroll-item:nth-of-type(<%= index + 1 %>) {
  background-image: url('<%= event.background %>');
  background-size: cover;
}
<% }) %>
  </style>
</body>
</html>
