<%- include('./partials/head') %>
<!DOCTYPE html>
<html>

<body>
  <%- include('./partials/header') %>
  <main>
    <section id="slider-container" class="scroll-container">
      <% const currentMonth=new Date().getMonth(); %>
        <% events.filter(event=> event.date.getMonth() === currentMonth).forEach(event => {%>
          <section class="hero scroll-item">
            <section>
              <h1>Populair in</h1>
              <h1>
                <%= new Date().toLocaleString("default", { month: "long" }) %>
              </h1>
            </section>
            <section>
              <h2>
                <%= event.title %>
              </h2>
              <h3>
                <%= event.city %>
              </h3>
              <h3>
                <%= event.formattedDate %>
              </h3>
              <h3>
                <%= event.location %>
              </h3>
            </section>
            <section>
              <h3>
                <%= event.attendees %>
              </h3>
              <h3>Deelnemers</h3>
              <button><a class="hero-cta" href="<%= event.link %>">Meer informatie ></a></button>
            </section>
          </section>
          <% }) %>
        </section>
    <section class="calendar">
      <h1>Evenementen Kalender</h1>
      <input type="text" id="myDatePicker" placeholder="Selecteer een datum">
    </section>

    <section id="calendar-results"></section>
  </main>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="js/upcoming-events.js"></script>
  <%- include('./partials/footer') %>
</body>

</html>